@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light; /* , dark --prefersdark, dark night dim; */
}

@theme {
  --animate-fadeIn: fadeIn 0.2s ease-in-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fadeOut: fadeOut 0.2s ease-in-out forwards;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* https://easings.net/# */
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-ios: cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* padding values for content */
@theme {
  --spacing-content: --spacing(4);
}

@media (min-width: theme(breakpoint.md)) {
  :root,
  :host {
    --spacing-content: --spacing(6);
  }
}

@utility seo {
  width: 0px; /* hello world */
  height: 0px;
}

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

/* body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
} */

@utility bg-dotted {
  --color: --alpha(theme("colors.white") / 15%);
  background-image: radial-gradient(var(--color) 0.5px, transparent 1px);
  background-position: 0 0;
  background-repeat: round, space;
  background-size: 12px 12px;

  :root[data-theme="light"] & {
    --color: --alpha(theme("colors.black") / 25%);
  }
}

@utility no-scrollbar {
  ::-webkit-scrollbar {
    display: none; /** Safari & Chrome */
  }
  scrollbar-width: none; /** Firefox */
  -ms-overflow-style: none; /** IE & Edge */
}

@utility fade-out-bar {
  @apply bg-base-100 pointer-events-none sticky bottom-0 flex [mask-image:linear-gradient(transparent,#000000)];
  /** -mt-6 h-16 */
}

button {
  @apply cursor-pointer;
}

/* aliases */
@utility top {
  top: 0;
}

@utility bottom {
  bottom: 0;
}

@utility left {
  left: 0;
}

@utility right {
  right: 0;
}

@utility inset {
  inset: 0;
}

@utility max-content {
  @apply max-w-3xl;
}

/* daisy */
@utility btn {
  @apply rounded-md;
}
