@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light; /* , dark --prefersdark, dark night dim; */
}

@theme {
  --animate-fadeIn: fadeIn 0.2s ease-in-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fadeOut: fadeOut 0.2s ease-in-out forwards;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* https://easings.net/# */
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
}

@utility seo {
  width: 0px; /* hello world */
  height: 0px;
}

/* :root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

/* body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
} */

@utility dotted {
  background-image: radial-gradient(#ffffff26 0.5px, transparent 1px);
  background-position: 0 0;
  background-repeat: round, space;
  background-size: 12px 12px;
}

button {
  @apply cursor-pointer;
}
